body {
    display: flex;
    font-size: larger;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 300px;
}

.button-container {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

#text, #runningScore {
    display: flex;
    padding: 20px;
}

button {
    color: rgb(24, 24, 24);
    background-color: rgb(185, 185, 185);
    border-radius: 8px;
    padding: 16px 40px;
    border: none;
    font-size: large;

}